<%= form_tag(conversations_path, method: :post) do %>
  <div class="form-group">
  <div>
    <%= label_tag :path, 'Text Files Directory:' %>
    <%= text_field_tag 'path', nil, class: 'form-control' %>  
    <small class="text-muted">Enter the path to the directory containing your text files.</small>
  </div>
  </div>

  <%= submit_tag 'Create Text Files', class: 'btn btn-primary' %>
<% end %>
